html, body {
  font-family: Monospace; 
  background-color: #ede7aa; 
  text-align: center;  
} form {  
  
} input {
  width: 30%; 
  padding: 10px;
  border-radius: 4px; 
  background-color: #f0f2ef; 
  border: none; 
  font-size: 30px;
  color: black; 
} button {
  padding: 10px 32px;
  font-size: 30px; 
  border: none; 
  background-color: #5da552;
  color: white;  
} div {
  margin: 30px; 
  font-size: 20px;   
} a { 
  cursor: pointer; 
  text-decoration: none; 
  color: inherit; 
  height: 100%;
  width: 100%; 
} p {
  margin: 30px;  
} #container {  
  
} #subcontainer {
  
  background-color: #aac9ed;
  /* padding: 10px; */
}  #subcontainer:hover {
  border-left: 6px solid yellow;  
} #title {
  text-align: left;   
  font-weight: bold;  
} #description {
 
}